<div id="footer">
		<!-- Credits to Matthew James Taylor -->
		<div id="copyright">
			<p>&#169 2017 UNION CITY SOCCER CLUB</p>
		</div>

		<div id="social">
			<p>FOLLOW US ON</p>
			<a href="https://www.facebook.com/UnionCitySoccer/" target="_blank"><img class="socialMedia" src="/static/assets/pictures/fb.png" alt="Facebook"></a>
			<a href="https://twitter.com/UnionCitySC" target="_blank"><img class="socialMedia" src="/static/assets/pictures/tw.png" alt="Twitter"></a>
		</div>
</div>