<nav class="navbar navbar-default">
		<div class="container-fluid">
		<div class="navbar-header">
			<div>
      			<a class="navbar-brand" href="/">
        			<img id="clubLogo" alt="Brand" src="/static/assets/pictures/unionCityLogo.jpeg">
      			</a>
  			</div>

  			<span id="titleHeader">UNION CITY SOCCER CLUB</span>
  			
		</div>
		</div>

				<div id="topLinks">
  				<ul>
					<li><a href="/">HOME</a></li>

					<li><a href="/pictures">PICTURES</a></li>

					<li><a href="/contact">CONTACT</a></li>

					<li><a href="/about">ABOUT</a></li>
				</ul>
  			</div>
  			
</nav>