<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{{ title }}</title>

	<link rel="stylesheet" type="text/css" href="/static/assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/assets/css/animate.css">
	<link rel="icon" type="image/png" href="/static/favicon.png">

</head>
	<body>

		{{{ body }}}



			<!-- These are my jquery, bootstrap and index js files -->
		<script type="text/javascript" src="/static/assets/javascript/jquery/jquery-3.3.1.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/assets/javascript/facebook/fb.js"></script>
		<script type="text/javascript" src="/static/assets/javascript/twitter/tweet.js"></script>
		<script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
		<script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
		<script type="text/javascript" src="./hbsjs/hbsscript.js"></script>
	</body>
</HTML>