{{#section 'head'}}
	<link rel="stylesheet" type="text/css" href="/static/assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/assets/css/contact-form.css">
	<link rel="icon" type="image/png" href="/static/favicon.png">
{{/section}}

{{>navbar}}

<div class="container">
<!-- Feedback Form Starts Here -->
	<div id="feedback">
	<!-- Heading Of The Form -->
	<div class="head">
		<h3>Send us your thoughts…</h3>
		<br>
		<p>If you have any questions, comments, or suggestions that you would like to share <br> with Union City Soccer Club please contact us.</p>
	</div>
	<!-- Feedback Form -->
	<form action="/static/assets/php/contact-form.php" method="post" name="form">
		<input name="vname" placeholder="Your Name" type="text" value="">
		<input name="vemail" placeholder="Your Email" type="text" value="">
		<input name="sub" placeholder="Subject" type="text" value="">
		
		<textarea name="msg" placeholder="Type your text here..."></textarea>
		<input id="send" name="submit" type="submit" value="Send Feedback">
	</form>
	
	</div>
<!-- Feedback Form Ends Here -->
</div>





{{>footer}}

{{#section 'foot'}}
		
{{/section}}

