{{#section 'head'}}
	<link rel="stylesheet" type="text/css" href="../static/assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/assets/css/style.css">
	<link rel="icon" type="image/png" href="/static/favicon.png">
{{/section}}

{{>navbar}}

<h2>Picture Gallery</h2>

	<div class="container">
		<div id="gallery" style="display:none;">
			<img alt="Preview Image 1"
				 src="../static/package/images/thumbs/1.jpg"
				 data-image="../static/package/images/big/1.jpg"
				 data-description="Preview Image 1 Description">
			
			<img alt="Preview Image 2"
				 src="../static/package/images/thumbs/2.jpg"
				 data-image="../static/package/images/big/2.jpg"
				 data-description="Preview Image 2 Description">
				 
			<img alt="Preview Image 3"
				 src="../static/package/images/thumbs/3.jpg"
				 data-image="../static/package/images/big/3.jpg"
				 data-description="Preview Image 3 Description">
				
			<img alt="Preview Image 4"
				 src="../static/package/images/thumbs/4.jpg"
				 data-image="../static/package/images/big/4.jpg"
				 data-description="Preview Image 4 Description">
			
			<img alt="Preview Image 5"
				 src="../static/package/images/thumbs/5.jpg"
				 data-image="../static/package/images/big/5.jpg"
				 data-description="Preview Image 5 Description">
					
			<img alt="Preview Image 6"
				 src="../static/package/images/thumbs/6.jpg"
				 data-image="../static/package/images/big/6.jpg"
				 data-description="Preview Image 6 Description">
				 
			<img alt="Preview Image 7"
				 src="../static/package/images/thumbs/7.jpg"
				 data-image="../static/package/images/big/7.jpg"
				 data-description="Preview Image 7 Description">
				 
			<img alt="Preview Image 8"
				 src="../static/package/images/thumbs/8.jpg"
				 data-image="../static/package/images/big/8.jpg"
				 data-description="Preview Image 8 Description">
				 
			<img alt="Preview Image 9"
				 src="../static/package/images/thumbs/9.jpg"
				 data-image="../static/package/images/big/9.jpg"
				 data-description="Preview Image 9 Description">
			
			<img alt="Preview Image 10"
				 src="../static/package/images/thumbs/10.jpg"
				 data-image="../static/package/images/big/10.jpg"
				 data-description="Preview Image 10 Description">
				 
			<img alt="Preview Image 11"
				 src="../static/package/images/thumbs/11.jpg"
				 data-image="../static/package/images/big/11.jpg"
				 data-description="Preview Image 11 Description">

			<img alt="Preview Image 12"
				 src="../static/package/images/thumbs/12.jpg"
				 data-image="../static/package/images/big/12.jpg"
				 data-description="Preview Image 12 Description">

			<img alt="Preview Image 13"
				 src="../static/package/images/thumbs/13.jpg"
				 data-image="../static/package/images/big/13.jpg"
				 data-description="Preview Image 13 Description">

		    <img alt="Preview Image 14"
				 src="../static/package/images/thumbs/14.jpg"
				 data-image="../static/package/images/big/14.jpg"
				 data-description="Preview Image 14 Description">

			<img alt="Youtube Video"
				 data-type="youtube"
				 data-videoid="loviu0Fspuc"
				 data-description="Union City Soccer Club RedBulls Training Day!">

			<img alt="Youtube Video"
				 data-type="youtube"
				 data-videoid="8yQp8AFYVyY"
				 data-description="RedBulls Dance Party!">

			<img alt="Youtube Video"
				 data-type="youtube"
				 data-videoid="xabJi8uTjvc"
				 data-description="Messi´s nice attempt on goal">

			<!-- <img alt="Vimeo Video"
				 data-type="vimeo"
				 src="http://i.vimeocdn.com/video/447294219_200x150.jpg"
				 data-image="http://i.vimeocdn.com/video/447294219_640.jpg"
				 data-videoid="73234449"
				 data-description="This gallery can also play vimeo videos!"> -->

			<!-- <img alt="Html5 Video"
				 src="images/thumbs/html5_video.png"
				 data-type="html5video"
				 data-image="http://vjs.zencdn.net/v/oceans.png"
				 data-videoogv="http://vjs.zencdn.net/v/oceans.ogv"
				 data-videowebm="http://vjs.zencdn.net/v/oceans.webm"
				 data-videomp4="http://vjs.zencdn.net/v/oceans.mp4"
		    	 data-description="This is html5 video demo played by mediaelement2 player"> -->

		    <!-- <img alt="Wistia Video"			
				 src="images/thumbs/wistia_video.jpg"
				 data-type="wistia"
				 data-image="images/big/wistia_video.jpg"
				 data-videoid="9oedgxuciv"
				 data-description="Hey, the gallery plays Wistia videos too!"> -->

			<!-- <img alt="Sound Cloud Track"			
				 src="images/thumbs/sound_cloud.jpg"
				 data-type="soundcloud"
				 data-image="images/thumbs/sound_cloud.jpg"
				 data-trackid="8390970"
				 data-description="This gallery can play a soundcloud track"> -->
		</div>
	</div>
{{>footer}}
		
</body>
{{#section 'foot'}}
		<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
		<script type='text/javascript' src='../static/package/unitegallery/js/unitegallery.min.js'></script> 
		
		<link rel='stylesheet' href='../static/package/unitegallery/css/unite-gallery.css' type='text/css' /> 
		<script type='text/javascript' src='../static/package/unitegallery/themes/default/ug-theme-default.js'></script> 
		<link rel='stylesheet' href='../static/package/unitegallery/themes/default/ug-theme-default.css' type='text/css' /> 

		<script type="text/javascript">
			jQuery(document).ready(function(){
				jQuery("#gallery").unitegallery();
			});
		</script>
{{/section}}


</html>
