{{>addonshome}}

{{>navbar}}

<div class="container" 
	style="text-align: center;
			color: white;
			font-weight: bolder;
    		margin-top: 15%;
    		width: 50%;
    		border: 3px solid white;
    		padding: 10px;">
	{{>signinform}}
</div>

{{>footer}}