<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form id="signup" name="signup" method="post" action="/signup">
		<label for="email">Email Address</label>
		<input class="text" type="email" name="email" />
		<label for="firstname">First Name</label>
		<input type="text" name="firstname" />
		<label for="lastname">Last Name</label>
		<input type="text" name="lastname" />
		<label for="password">Password</label>
		<input type="password" name="password" />
		<input type="submit" class="btn" value="Sign Up" />
	</form>

</body>
</html>