<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Union City Soccer Club</title>

	<link rel="stylesheet" type="text/css" href="/static/assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/assets/css/animate.css">
	<link rel="icon" type="image/png" href="/static/favicon.png">

</head>
<body>

	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="navbar-header">
    			<div>
	      			<a class="navbar-brand" href="/login">
	        			<img id="clubLogo" alt="Brand" src="/static/assets/pictures/unionCityLogo.jpeg">
	      			</a>
      			</div>

      			<span id="titleHeader">UNION CITY SOCCER CLUB</span>
      			
    		</div>
  		</div>

  				<div id="topLinks">
      				<ul>
						<li><a href="/">HOME</a></li>

						<li><a href="/recreation">RECREATION 2017</a></li>

						<li><a href="/adultSoccer">ADULT SOCCER</a></li>

						<li><a href="/pictures">PICTURES</a></li>

						<li><a href="/travelingCoaches">TRAVELING COACHES</a></li>

						<li><a href="/soccerRec">SOCCER REC</a></li>

						<li><a href="/contact">CONTACT</a></li>

						<li><a href="/about">ABOUT</a></li>
					</ul>
      			</div>
      			
	</nav>

	<div>
	  		<select id="dropMenu">
	  			<option><a href="/index">HOME</a></option>
				<option><a href="/recreation">RECREATION 2017</a></option>
				<option><a href="/adultSoccer">ADULT SOCCER</a></option>
				<option><a href="/pictures">PICTURES</a></option>
				<option><a href="/travelingCoaches">TRAVELING COACHES</a></option>
				<option><a href="/soccerRec">SOCCER REC</a></option>
				<option><a href="/contact">CONTACT</a></option>
				<option><a href="/about">ABOUT</a></option>
			</select>
	</div>


	<div class="animated bounceInRight" class="row" id="rowHeight">
		</a><div id="awcc1514858660197" class="aw-widget-current"  data-locationkey="339552" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1514858660197"></div>
	</div>

				

	<div class="container">

		<div id="leftPanel">
			<div id="fb-root">
				<div class="fb-page" data-href="https://www.facebook.com/UnionCitySoccer/" 
					data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" 
					data-hide-cover="false" data-show-facepile="true">
					<blockquote cite="https://www.facebook.com/UnionCitySoccer/" class="fb-xfbml-parse-ignore">
						<a href="https://www.facebook.com/UnionCitySoccer/">Union City Soccer</a>
					</blockquote>
				</div>
			</div>
		</div>


				<img id="kidsBackground" src="/static/assets/pictures/players.jpg">

				

		

			<div id="rightPanel">
				<a class="twitter-timeline" data-width="200" data-height="500" 
					data-theme="dark" href="https://twitter.com/UnionCitySC">Tweets by UnionCitySC
				</a>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>


				<div id="introduction">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales ante in venenatis rutrum. Nam augue magna, facilisis eget arcu et, auctor auctor nunc. Praesent et nibh odio. Donec a ante risus. Maecenas convallis nunc et lacus ullamcorper viverra. Pellentesque ante magna, pellentesque ac lacinia ut, vulputate at nibh. Fusce finibus posuere enim, nec mollis augue blandit eu. Aliquam quam arcu, tempor vel purus pulvinar, hendrerit pretium turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc mollis vel ipsum eget malesuada. Vestibulum eu sapien nunc. Duis risus sapien, aliquet sed euismod non, dapibus vitae purus. Ut varius nulla eget malesuada bibendum. Sed ut dui nec sapien eleifend cursus ac vel leo. Quisque luctus quam dui, ut blandit metus pretium dapibus. Praesent in eros ipsum.
					</p>
				</div>	

	</div>




				<div id="weatherWidgetBottom">
					<a href="https://www.accuweather.com/en/us/union-city-nj/07087/running-current-weather/339552" class="aw-widget-legal">
						<!--
						By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
						-->
					</a>
					<div id="awtd1497224480518" class="aw-widget-36hour"  data-locationkey="339552" data-unit="f" data-language="en-us" data-useip="false" data-uid="awtd1497224480518" data-editlocation="true" data-lifestyle="running">
					</div>
				</div>		


	<div id="footer">
		<!-- Credits to Matthew James Taylor -->
		<div id="copyright">
			<p>&#169 2017 UNION CITY SOCCER CLUB</p>
		</div>

		<div id="social">
			<p>FOLLOW US ON</p>
			<a href="https://www.facebook.com/UnionCitySoccer/" target="_blank"><img class="socialMedia" src="/static/assets/pictures/fb.png" alt="Facebook"></a>
			<a href="https://twitter.com/UnionCitySC" target="_blank"><img class="socialMedia" src="/static/assets/pictures/tw.png" alt="Twitter"></a>
		</div>
	</div>

	<!-- These are my jquery, bootstrap and index js files -->
	<script type="text/javascript" src="/static/assets/javascript/jquery/jquery-3.3.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/static/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/assets/javascript/facebook/fb.js"></script>
	<script type="text/javascript" src="/static/assets/javascript/twitter/tweet.js"></script>
	<script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
	<script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
</body>
</html>