<!DOCTYPE html>
<html>
<head>
	<title>Union City Soccer</title>
	<link rel="stylesheet" type="text/css" href="/static/assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/assets/css/registration.css">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-css">
	<script type="text/javascript" src="/static/assets/javascript/jquery/jquery-3.3.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/static/assets/js/loadfile.js"></script>
	<link rel="icon" type="image/png" href="/static/favicon.png">
</head>
<body>
	<div class="container">
    	<h1 class="well">Registration Form</h1>

    	<div>
			{{#if flash.alert}}
				<div class="alert alert-danger" role="alert">
				<p><strong>{{ flash.alert }}</strong> </p>
				</div>
			{{/if}}
		</div>
		<div>
			{{#if flash.warning}}
					<div class="alert alert-danger" role="alert">
					<p><strong>{{ flash.warning }}</strong> </p>
					</div>
			{{/if}}
		</div>
		<div>
			{{#if flash.success}}
					<div class="alert alert-success" role="alert">
					<p><strong>{{ flash.success }}</strong> </p>
					</div>
			{{/if}}
		</div>
		
		<div class="col-lg-12 well">
			<div class="row">
				<form action="/register/player" method="POST" role="form">
					<div class="col-sm-12">
						<div class="row">
							<div class="form-group">
								<label>Email Address</label>
								<input type="text" placeholder="anyemail@myemail.com" class="form-control" name="email">
							</div>	
						</div>
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>First Name</label>
								<input type="text" placeholder="Enter First Name" class="form-control" name="firstname">
							</div>
							<div class="col-sm-6 form-group">
								<label>Middle Name <span> * Optional</span></label>
								<input type="text" placeholder="Enter Middle Name" class="form-control" name="middlename">
							</div>
							<div class="col-sm-6 form-group">
								<label>Last Name</label>
								<input type="text" placeholder="Enter Last Name" class="form-control" name="lastname">
							</div>
							<div class="col-sm-6 form-group">
								<label>Second Last Name <span> * Optional</span></label>
								<input type="text" placeholder="Enter Second Last Name" class="form-control" name="secondlastname">
							</div>
							<div class="col-sm-6 form-group">
								<label>Date of Birth</label>
								<input type="date" placeholder="" class="form-control" name="dob">
							</div>
							<div class="col-sm-6 form-group">
								<label>Current Team</label>
								<input type="text" placeholder="Bayern" class="form-control" name="team">
							</div>
						</div>					
						<div class="form-group">
							<label>Address</label>
							<textarea placeholder="1234 Anystreet St." rows="3" class="form-control" name="address"></textarea>
						</div>	
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>City</label>
								<input value="Union City" type="text" placeholder="Union City" class="form-control" name="city">
							</div>	
							<div class="col-sm-4 form-group">
								<label>State</label>
								<input value="New Jersey" type="text" placeholder="New Jersey" class="form-control" name="state">
							</div>	
							<div class="col-sm-4 form-group">
								<label>Zip</label>
								<input value="07087" type="text" placeholder="Enter Zip Code" class="form-control" name="zipcode">
							</div>		
						</div>
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>Position</label>
								<input type="text" placeholder="Enter Desired Position" class="form-control" name="position">
							</div>	
							<div class="col-sm-6 form-group">
								<label>Nickname</label>
								<input type="text" placeholder="La Pulga" class="form-control" name="nickname">
							</div>		
						</div>						
						<div class="form-group">
							<label>Phone Number</label>
							<input type="text" placeholder="Phone Number" class="form-control" name="phonenumber">
						</div>
						<div class="form-group">
							<label>Emergency Phone Number</label>
							<input type="text" placeholder="Emergency Phone Number" class="form-control" name="emergencyphonenumber">
						</div>	

						
						<div class="form-group">
							<label>About</label>
							<textarea placeholder="Anything you want to share about you..." rows="3" class="form-control" name="about"></textarea>
						</div>	
						<br>
						<br>
						<br>

						<div class="row">
							<input type="file" onchange="previewFile()" name="profilepicture"><br>
								<img src="" height="200" alt="Image preview...">		
						</div>	
						<br>
						<br>

							<button type="submit" class="btn btn-lg btn-info">Register</button>				
					</div>
				</form> 
			</div>
		</div>
	</div>

	<div class="socialFooter">
		<!-- Credits to Matthew James Taylor -->
		<div class="copyright">
			<p>&#169 2017 UNION CITY SOCCER CLUB</p>
		</div>

		<div class="social">
			<p>FOLLOW US ON</p>
			<a href="https://www.facebook.com/UnionCitySoccer/" target="_blank"><img class="socialMedia" src="/static/assets/pictures/fb.png" alt="Facebook"></a>
			<a href="https://twitter.com/UnionCitySC" target="_blank"><img class="socialMedia" src="/static/assets/pictures/tw.png" alt="Twitter"></a>
		</div>
	</div>

</body>
</html>